.rapport_div {
    margin-left: 10%;
    padding: 5px 10px;
    border-left: 2px solid black;
}

.cat_div {
    margin-top: 20px;
}

#infosRapport {
    width: 450px;
    display: grid;
    grid-template-columns: 50% 50%;
}

.spantwo {
    grid-column: span 2;
}

.btn {
    width: 180px;
    height: 35px;
}

#titreImprimante {
    display: none;
}

@media print {
    #btn_Imprimer {
        display: none;
    }

    #BodyPlaceHolder_btn_excel {
        display: none;
    }

    #titreImprimante {
        display: initial;
    }


}
