.rapport_div {
    margin-left: 10%;
    padding: 5px 10px;
    border-left: 2px solid black;
}

.cat_div {
    margin-top: 20px;
}

@media print {
    #btn_Imprimer {
        display: none !important;
    }
}
